main {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    background-color: #D4D6B9;
    border-radius: 30%;
}

#heading {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.sub-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-top: -15px;
    font-family: 'Orbitron', sans-serif;
}

.button-style {
    
}
